USE [master]
GO
/****** Object:  Database [ProjectDB]    Script Date: 4/26/2026 10:25:28 PM ******/
CREATE DATABASE [ProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDB', FILENAME = N'D:\SQL\MSSQL17.SQLEXPRESS\MSSQL\DATA\ProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectDB_log', FILENAME = N'D:\SQL\MSSQL17.SQLEXPRESS\MSSQL\DATA\ProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBillStatus]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_GetBillStatus] (@bill_id int)
returns varchar(20)
as
begin
    declare @status varchar(20);
    select @status = status from bills where bill_id = @bill_id;
    return @status;
end;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCustomerName]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_GetCustomerName] (@customer_id int)
returns varchar(100)
as
begin
    declare @name varchar(100);
    select @name = name from customers where customer_id = @customer_id;
    return @name;
end;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetTotalUnits]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fn_GetTotalUnits] (@customer_id int)
returns int
as
begin
    declare @units int;
    select @units = sum(units) from consumption where customer_id = @customer_id;
    return isnull(@units, 0);
end;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsBillPaid]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_IsBillPaid] (@bill_id int)
returns varchar(3)
as
begin
    if exists (select 1 from bills where bill_id = @bill_id and status = 'paid')
        return 'Yes';
    return 'No';
end;
GO
/****** Object:  Table [dbo].[bills]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[total_units] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[bill_date] [date] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consumption]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consumption](
	[consumption_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[units] [int] NOT NULL,
	[record_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[consumption_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NOT NULL,
	[amount_paid] [decimal](10, 2) NOT NULL,
	[payment_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bills] ON 

INSERT [dbo].[bills] ([bill_id], [customer_id], [total_units], [amount], [bill_date], [status]) VALUES (1, 1, 280, CAST(4500.00 AS Decimal(10, 2)), CAST(N'2026-02-28' AS Date), N'paid')
INSERT [dbo].[bills] ([bill_id], [customer_id], [total_units], [amount], [bill_date], [status]) VALUES (2, 2, 200, CAST(3200.00 AS Decimal(10, 2)), CAST(N'2026-01-31' AS Date), N'paid')
SET IDENTITY_INSERT [dbo].[bills] OFF
GO
SET IDENTITY_INSERT [dbo].[consumption] ON 

INSERT [dbo].[consumption] ([consumption_id], [customer_id], [units], [record_date]) VALUES (1, 1, 150, CAST(N'2026-01-10' AS Date))
INSERT [dbo].[consumption] ([consumption_id], [customer_id], [units], [record_date]) VALUES (2, 1, 130, CAST(N'2026-02-09' AS Date))
INSERT [dbo].[consumption] ([consumption_id], [customer_id], [units], [record_date]) VALUES (3, 2, 200, CAST(N'2026-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[consumption] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [name], [address], [phone]) VALUES (1, N'Ali', N'12 Mall Road, Rawalpindi', N'0300-1112233')
INSERT [dbo].[customers] ([customer_id], [name], [address], [phone]) VALUES (2, N'Hussain', N'B-15, Clifton, Wah Cantt', N'0312345678')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([payment_id], [bill_id], [amount_paid], [payment_date]) VALUES (1, 1, CAST(4500.00 AS Decimal(10, 2)), CAST(N'2026-03-02' AS Date))
INSERT [dbo].[payments] ([payment_id], [bill_id], [amount_paid], [payment_date]) VALUES (2, 2, CAST(3200.00 AS Decimal(10, 2)), CAST(N'2026-04-05' AS Date))
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password]) VALUES (1, N'sammar', N'password')
INSERT [dbo].[users] ([user_id], [username], [password]) VALUES (2, N'awais', N'password')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572FEE5AB4C]    Script Date: 4/26/2026 10:25:29 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[consumption]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD CHECK  (([total_units]>=(0)))
GO
ALTER TABLE [dbo].[consumption]  WITH CHECK ADD CHECK  (([units]>(0)))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([amount_paid]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[DeleteBill]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteBill]
    @bill_id int
as
    delete from bills where bill_id = @bill_id;
GO
/****** Object:  StoredProcedure [dbo].[DeleteConsumption]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteConsumption]
    @consumption_id int
as
    delete from consumption where consumption_id = @consumption_id;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteCustomer]
    @customer_id int
as
    delete from customers where customer_id = @customer_id;
GO
/****** Object:  StoredProcedure [dbo].[DeletePayment]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeletePayment]
    @payment_id int
as
    delete from payments where payment_id = @payment_id;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteUser]
    @user_id int
as
    delete from users where user_id = @user_id;
GO
/****** Object:  StoredProcedure [dbo].[InsertBill]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertBill]
    @customer_id int,
    @total_units int,
    @amount decimal(10,2),
    @bill_date date,
    @status varchar(20)
as
    insert into bills (customer_id, total_units, amount, bill_date, status)
    values (@customer_id, @total_units, @amount, @bill_date, @status);
GO
/****** Object:  StoredProcedure [dbo].[InsertConsumption]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertConsumption]
    @customer_id int,
    @units int,
    @record_date date
as
    insert into consumption (customer_id, units, record_date) values (@customer_id, @units, @record_date);
GO
/****** Object:  StoredProcedure [dbo].[InsertCustomer]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertCustomer]
    @name varchar(100),
    @address varchar(255),
    @phone varchar(20) = null
as
    insert into customers (name, address, phone) values (@name, @address, @phone);
GO
/****** Object:  StoredProcedure [dbo].[InsertPayment]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertPayment]
    @bill_id int,
    @amount_paid decimal(10,2),
    @payment_date date
as
    insert into payments (bill_id, amount_paid, payment_date) values (@bill_id, @amount_paid, @payment_date);
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertUser]
    @username varchar(50),
    @password varchar(50)
as
    insert into users (username, password) values (@username, @password);
GO
/****** Object:  StoredProcedure [dbo].[UpdateBill]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateBill]
    @bill_id int,
    @customer_id int,
    @total_units int,
    @amount decimal(10,2),
    @bill_date date,
    @status varchar(20)
as
    update bills set customer_id = @customer_id, total_units = @total_units, amount = @amount,
        bill_date = @bill_date, status = @status
    where bill_id = @bill_id;
GO
/****** Object:  StoredProcedure [dbo].[UpdateConsumption]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateConsumption]
    @consumption_id int,
    @customer_id int,
    @units int,
    @record_date date
as
    update consumption set customer_id = @customer_id, units = @units, record_date = @record_date
    where consumption_id = @consumption_id;
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateCustomer]
    @customer_id int,
    @name varchar(100),
    @address varchar(255),
    @phone varchar(20) = null
as
    update customers set name = @name, address = @address, phone = @phone
    where customer_id = @customer_id;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePayment]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdatePayment]
    @payment_id int,
    @bill_id int,
    @amount_paid decimal(10,2),
    @payment_date date
as
    update payments set bill_id = @bill_id, amount_paid = @amount_paid, payment_date = @payment_date
    where payment_id = @payment_id;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 4/26/2026 10:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateUser]
    @user_id int,
    @username varchar(50),
    @password varchar(50)
as
    update users set username = @username, password = @password where user_id = @user_id;
GO
USE [master]
GO
